body {    
    background-image: url(https://bemol.com.br/Custom/Content/Themes/Bemol/Templates/landings/lp-diadasmaes/images/bg-diadasmaes2.jpg);    
}

#headerRow {
    background-color: #f8f9fa;
}

#headerRow nav {
    padding: 0;
}

#headerRow .nav-link {
    color: black;
    font-size: 0.7em;
    margin: 0 2px 0 0;
}

#logoRow, #logoCollapsedRow {
    background-color: #0092df;
}

#logoRow img {
    width: 100%;
    height: 100%;
}

#logoRow nav {
    padding: 0;
}

#logoRow nav div {
    padding: 0;
}

#logoRow h3 {
    font-size: 0.9em;
    color: white;
    padding: 0;
    margin-bottom: 0;
}

#logoRow .form-row div {
    padding: 0;
}

#logoRow i, #logoCollapsedRow i {
    color: #ffee91;
    padding: 0;
    font-size: 2em;
    width: 100%;
    height: 100%;
}

#logoRow p, #logoRow span, #logoCollapsedRow span, #logoCollapsedRow p {
    color: #ffee91;
    font-weight: bold;
    font-size: 0.8em;
    padding: 0;
    margin-bottom: 0;
}

#logoRow #colLoggedUser {
    font-size: 1.3em;
}

#logoRow button {
    font-size: 0.89em;
    font-weight: bold;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #e63027;
    padding: 0 25px;
}

#logoRow #logo img {
    width: 50%;
    height: 50%;
}

#menuRow, #menuRowCollapsed {
    background-color: #00a1e5;
}

#menuRow i, #menuRowCollapsed i {
    color: white;
    padding: 0;
    font-size: 2em;
}

#menuRow p, #menuRow span, #menuRowCollapsed p, #menuRowCollapsed span {
    color: white;
    font-size: 0.8em;
    padding: 0;
    margin-bottom: 0;
}

#menuRow nav, #menuRowCollapsed nav {
    padding: 0;
}

#menuRow span, #menuRowCollapsed span {
    font-size: 0.6em;
}

#menuRow a, #menuRowCollapsed a {
    text-align: center;
}

#menuRowCollapsed {
    width: 100%;
    overflow-x: scroll;
    white-space: normal;
}

#productRow nav {
    text-align: center;
    align-items: center;
}

#productRow .card {
    border: none;
}

#productRow img {
    width: 100%;
}

#divLogin {
    cursor: pointer;
}